Generated/
.env
__pycache__/
*.pyc
*.pyo
instance/
.venv/
venv/
env/
*.egg-info/
dist/
build/
.DS_Store
static/uploads/profile_pics/*
static/uploads/bird_images/*
static/uploads/audios/*
!static/uploads/profile_pics/.gitkeep
!static/uploads/bird_images/.gitkeep
!static/uploads/audios/.gitkeep
